body {
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    background-attachment: fixed;
}

body.ad { background-image: linear-gradient(#0066AA, #024); }
body.fw { background-image: linear-gradient(#c76300, #462300); }

body.ad a { color: #0099FF; }
body.ad a:hover { color: #77CCFF; }
body.fw a { color: #ff7f00; }
body.fw a:hover { color: #ffc58b; }

u {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.card { margin-bottom: 1rem; }

.bg-darken { background-color: rgba(0, 0, 0, 0.1) !important; }

.card-icon {
    margin-top: -0.1em;
    height: 1em;
}

.age-green { color: #0F0; }
.age-yellow { color: #FF0; }
.age-red { color: #F00; }

.table tbody tr.stripe {
    background-color: rgba(0,0,0,0.05);
}

.table tbody tr:hover,
.table tbody tr.stripe:hover {
    background-color: rgba(255,255,255,0.1);
}

/* DataTables Overrides */
table.dataTable tbody tr {
    background: none;
}

table.dataTable thead th,
table.dataTable.no-footer {
    border: none;
}

.dataTables_filter label {
    color: #FFF;
}
.dataTables_filter input {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 6px;
    color: #FFF;
}
